.row
    .col-md-12
        .tabbable
            ul.nav.nav-tabs
                each file, i in files
                    - var liClass = (i === 0 ? 'active' : '');
                    li(class=liClass): a(data-toggle='tab', href='#styler_file_tab_' + i, aria-expanded='true')
                        i.color-green-500.tab-icon.fa.fa-pencil-square-o
                        |  #{file}
            .tab-content.p-n
                each file, iFile in files
                    div.tab-pane.fade(id='styler_file_tab_' + iFile, class=(iFile === 0 ? 'active in':''))
                        table.table.table-hover.table-condensed.table-striped.table-codex.styler-table
                            thead: tr
                                th Variable
                                th Value
                            tbody
                                each variable in vars.tree[file]
                                    tr
                                        td: span.scss-variable-name= variable.name
                                        td: a(id=variable.name, data-type=variable.type, data-scss-file-name=file).scss-variable-value= variable.value


