mixin block-actions(el, ifVar)
    .code-block-actions(v-el=el, v-if=ifVar)
        template(v-repeat='actions')
            a.btn(
            href="javascript:;", data-toggle='tooltip', data-container='body', title='{{title}}',
            data-clipboard-text="Copy me!", class='code-block-action-button {{actionBtnClass}}',
            v-class='blue-grey-dark: id == "cb-minmax" && minimized' v-on='click: onClick', id='{{id}}'
            )
                i.fa(class='{{icon}}')

.code-block(v-class='code-block-show: show, code-block-minimized: minimized, code-block-hide-top: !showTop', v-el='block')
    .code-block-top(v-if='showTop')
        .code-block-top-left
            .code-block-information
                h4
                    span(v-text='title')
                    small(v-text='description')
                dl
                    dt Language
                    dd(v-text='language')
                    dt Lines
                    dd(v-text='lines')

        .code-block-top-right
            +block-actions('top-actions', 'showTopActions')

    +block-actions('content-actions', 'showContentActions')
    .code-block-content(v-el='content')
        pre.line-numbers(v-el='pre')
            code.code-block-code(v-el='code'): content
